/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}


img {
	width: 100%;
	display: block;
}

body {
	background-color: (240,240, 240); /* Not totally white. */
	color: (15, 15, 15);  /* Not totally black. */
	line-height: 140%; 	/* A little extra leading. */
	font-family: sans-serif;
}

h1 {
	background-color: (a4a4b3);
	color: (10, 10, 10); /* Same as body background. */
	font-size: 30;
	padding: 50 50 50; /* You want three values. */
	font-weight: 10;
	text-transform: capitalize;
}

/* You’ll need to add a span element to your HTML. */
h1 span { 	
	font-family: serif;
	font-style: italic;
	font-weight: 10;
	text-transform: lowercase;
}

h2 {
	background-color: (164, 164, 179);
	color: (10, 10, 10);
	font-size: 20;
	padding: 20;
	font-family: serif;
	font-weight: 5;
}

h3 {
	margin: 10 0 10; /*Three values again. You got the idea.*/
	padding-top: _______;
	font-size: 20;
	color: 171, 29, 29;
	font-weight: 5;
	text-transform: capitalize;
	letter-spacing: 0.1em; /*Just an extra tracking for bold uppercase letters. Try 0.1em */
	border-top: ____ ____ ____;
}

h4 {
	font-weight: 10;
}

p.description {
	font-style: italic;
}

p.price {
	color: (171, 29, 29);
}

ul {
	margin: 20 0 20;
}

li { 
	margin: 5 5;
}
