/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

img {
    width: 100%; /*Please leave this line.*/
     display: block;
}

div.container{
    max-width: 100em;
    margin: auto;

}

figure{
    display: grid;
    grid-column: 1/3;
    grid-template-columns: 85% auto;
    margin: auto;
}

main{
    display: grid;
    grid-column: 1/3;
    grid-template-columns: repeat(2, 1fr);
    max-width: 90%;
    margin: auto;

}

body {
    background-color: rbg(250, 250, 250);
    color: rgb(15, 15, 15);
    line-height: 170%; 
    font-family: poppins, sans-serif;  
    font-weight: 450;  
    font-style: normal;
}


h1 {
    background-color: rgb(255, 133, 10);
    color: rgb(250, 250, 250);
    font-size: 2.5em;
    padding-top: 1em;
    padding-left: 0.5em;
    font-family: Sutro, serif;  
    font-weight: 700;  
    font-style: normal;
    line-height: 100%; 
}

h2 {
    background-color: rgb(255, 133, 10);
    color: rgb(255, 220, 200);
    font-size: 2em;
    font-family: Sutro, serif;  
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-bottom: 1em;
}

h3 {
    color: rgb(255, 153, 30);
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 100em;
    margin-top: 1em;
    margin-bottom: 0.75em;
    font-family: Sutro, serif;  
    font-weight: 400;  
    font-style: normal;
}

ul {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1em;
}
li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.ingredients {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.directions {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

footer {
    background-color: rgb(255, 133, 10);
    color: rgb(250, 250, 250);
    padding: 1em;
}

figcaption {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    font-size: 1em;
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: italic;
}

/*By the way, when we use the slash-asterisk combo, it’s a comment on the CSS and it’s meant for human beings. The machine knows it is not supposed to process anything until it finds a asterisk-slash combo that ends the comment on the CSS. */
